@tailwind base;
@tailwind components;
@tailwind utilities;


/* Video.css */

.youtube-video {
  width: 100%; /* Make the video width 100% of its container */
  height: 100%; /* Make the video height 100% of its container */
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive scaling */
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
